#!/usr/bin/make -f
# debian/rules for joede-latex-prjdoc package.
# copyright 2002 by Jörg Desch
# This file is original wrote by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp

build-stamp:
	dh_testdir

	#/usr/bin/docbook-to-man debian/joede-latex-prjdoc.sgml > joede-latex-prjdoc.1
	## (jd) no docs at the moment...
	#make doc-dvi

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	## (jd) no docs at the moment...
	#make clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# install the files
	install -o root -g root -d -m 755 debian/joede-latex-prjdoc/usr/share/texmf/tex/latex/joede-latex-prjdoc
	install -o root -g root -m 644 latex/* debian/joede-latex-prjdoc/usr/share/texmf/tex/latex/joede-latex-prjdoc/
	## (jd) no docs at the moment...
	#install -o root -g root -m 644  $(CURDIR)/debian/joede-latex-prjdoc/usr/share/texmf/doc $(CURDIR)/debian/joede-latex-prjdoc/usr/share/doc/joede-latex-prjdoc
	#install -o root -g root -m 644  $(CURDIR)/docs/*.dvi $(CURDIR)/debian/joede-latex-prjdoc/usr/share/doc/joede-latex-prjdoc


binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs 
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
